<center>
<h1>Signin </h1>
<%= form_tag sessions_path do %>
    <table>   
     <tr>  
          <td><%= label_tag :name %></td>
            <td><%= text_field_tag :name %>
        </tr>
        
     <tr>  
          <td><%= submit_tag "Sign in" %></td>
        </tr> 
		
		
   </table>
   <h5><a href="http://localhost:3000/users/new"> Register here</h5>
<% end %>
</center>